<!-- Cabecera -->
<header class="bg-success-subtle text-black text-center py-3">
  <h1>Tienda de Productos de Ropa</h1>
  <p class="lead">Sandra Sanchez Lazaro</p>
</header>

<!-- Contenido Principal -->
<main class="container my-4">
  <!-- Este espacio está reservado para los componentes -->
<app-products-list></app-products-list>
</main>

<!-- Footer -->
<footer class="bg-dark text-white text-center py-3">
  <p class="mb-0">&copy; 2025 Mi Aplicación - Todos los derechos reservados</p>
</footer>
